{% extends "base.html" %}
{% block title %}Deteccion{% endblock%}
{% block content %}
<script>
  function loading() {
    document.getElementById('conjunto_vista_previa').style.display = "none";
    document.getElementById('selector_ficheros').style.display = "none";
    document.getElementById('loader_id').style.display = "block";
  }

  function mostrarDescargas() {
    document.getElementById('boton_grupoOpcionesDescargas').style.display = "block";
  }

  function mostrarPorcentaje(confi) {
    document.querySelector('#confi').value = confi;
  }

</script>
<div class="encabezado">
  <h1>Detección</h1>
</div>

{% if uploading %}
<form action=/upload method="POST" enctype="multipart/form-data">
  <div id="selector_ficheros" class="btn-group">
    <input type="file" class="form-control" name="image" id="inputGroupFile02" required>
    <div class="subir_boton">
      <input type="submit" value="Subir" class="btn btn-primary"></input>
    </div>
  </div>
</form>

{% if fichero_incompatible %}
<div id="fichero_incompatible">
  <b><label id='mensajeU'>Fichero incompatible. Formatos aceptados: PNG y JPG/JPEG</label></b>
</div>
{% endif %}

{% endif %}

{% if mostrar_preview %}
<div id="conjunto_vista_previa" class="vista_previa">
  <img src="{{ deteccion }}">

  <form action=/deteccion method="post" enctype="multipart/form-data">
    <div id="slider">
      <label style="font-size:20px;margin-top:20px;" id="label_slider" for="slider">Confianza</label>
      <input type="range" min="0" max="100" value="70" name='slider' id="slider" oninput="mostrarPorcentaje(value)">

      <div id="output_slider">
        <output style="font-size:25px;margin-bottom:10px" for="slider" id="confi">70</output>
      </div>

      <div class="detectar_boton">
        <a href="/deteccion"><input type="submit" value="Aceptar" id="detectar_btn" class="btn btn-success"
            onclick="loading();"></input></a>
      </div>
    </div>


  </form>
</div>
{% endif %}

<div class="loaderDiv">
  <div id="loader_id" class="loader"></div>
</div>

{% if mostrar_resultado %}

<div id="conjunto_resultados" class="resultados">
  <div class="graficoResultado">
    <embed src="{{ result }}" width="{{ anchoGrafico }}" height="{{ altoGrafico }}">
  </div>
  
  {% if conDefectos %}
  <div id="boton_grupoDescargas" class="btn-group-vertical">
    <button id="boton_descargaMascara" class="btn btn-primary"
      onclick="window.location.href='{{ url_for( 'descargarMascara') }}';">Descargar Máscara Binaria</button>
    <input id="boton_descargaResultados" class="btn btn-primary" type="button" value="Descargar Resultados"
      onclick="mostrarDescargas()">

    <div id="boton_grupoOpcionesDescargas" class="btn-group-vertical">
      <button class="btn btn-warning"
        onclick="window.location.href='{{ url_for( 'descargarDinamico') }}';">Dinámico</button>
      <button type="button" class="btn btn-warning"
        onclick="window.location.href='{{ url_for( 'descargarComposicion') }}';">Composición</button>
    </div>
  </div>

  {% else %}
  <div id="boton_grupoDinamico" class='botonSoloDinamico'>
    <button class="btn btn-primary"
      onclick="window.location.href='{{ url_for( 'descargarDinamico') }}';">Descargar Resultado Dinámico</button>
    <b><label>Sin defectos detectados</label></b>
  </div>
  {% endif %}

  <div class="boton_atras" id="volver">
    <a type="button" href=/upload class="btn btn-primary"> &ltVolver</a>
  </div>

</div>


{% endif %}



{% endblock %}