{% extends "base.html" %}
{% block title %}FAQ{% endblock%}
{% block content %}

<div class = "encabezado">
  <h1>Preguntas Frecuentes</h1>
</div>

<div class = "listado">
  <ul>
    <li>Proyecto de Fin de Grado Universidad de Burgos 2021</li>
    <li>Autor: Fco. Javier Yagüe Izquierdo</li>
    <li>Código disponible en <a href="https://github.com/fyi0000/TFG-GII-20.04">Repositorio de Github</a></li>
    <li>Red y modelo obtenidos con la herramienta <a href="https://github.com/facebookresearch/detectron2">Detectron2$      
    <li>Aplicacion Web implementada con <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a></li>
    <li>Graficos y resultados elaborados con la biblioteca <a href="https://plotly.com/">Plotly</a></li>
    <li>Trabajo almacenado en un contenedor <a href="https://www.docker.com/">Docker</a></li>
  </ul>
</div>

{% endblock %}
