<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historico de Detecciones</title>
    <h1 style="text-align:center;">Historico de Detecciones</h1>
</head>
<body>
    <div style="text-align: center;">
	    <embed style="text-align:center;" src="{{ urlGraphL }}" width="{{ widthHTML }}" height="{{ heightHTML }}" >
    </div>
    <form style="text-align:center; margin-top:10px;" action= /detect method= "POST" enctype="multipart/form-data">
					<input type="submit" name="Volver" value="Volver">
	</form>
</body>
</html>